.filter_panel {
  margin-bottom: 20px;

  .form_container {
    position: relative;
    max-width: 200px;
    padding: 15.5px 0 0;

    .form_field {
      width: 100%;
      border: 2px solid #969696;
      border-radius: 6px;
      outline: 0;
      font-size: 15.5px;
      color: rgba(255, 255, 255, 0.87);
      padding: 8.5px;
      background: transparent;
      transition: all 0.2s;

      option {
        background-color: #242424;
      }

      &::placeholder {
        font-size: 0;
      }

      &:placeholder-shown ~ .form_label {
        font-size: 15.5px;
        cursor: text;
        top: 42%;
        color: #969696;
      }
    }
  }

  .form_label {
    position: absolute;
    top: 5px;
    left: 14px;
    margin: 0;
    padding: 0;
    display: block;
    transition: 0.2s;
    background-color: #242424;
    font-size: 13.175px;
    color: #969696;
  }

  .form_field:focus {
    ~ .form_label {
      position: absolute;
      top: 5px;
      display: block;
      transition: 0.2s;
      font-size: 13.95px;
      color: rgba(255, 255, 255, 0.87);
    }

    border-image-slice: 1;
    border-color: rgba(255, 255, 255, 0.87);
  }

  .checkbox_wrap {
    display: flex;
    align-items: center;
    gap: 4px;

    .checkbox {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      border: 1px solid #969696;
      background-color: transparent;
      transition: background-color 0.2s;
      cursor: pointer;

      &.archived {
        background-color: #969696;
      }
    }


    p {
      line-height: 17px;
    }
  }

  .reset_btn {
    height: 33px;
    width: 130px;
    margin-top: 12px;
    border: none;
    border-radius: 17px;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(150, 3, 3, 0.59);
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      box-shadow: 3px 3px 10px rgba(150, 3, 3, 0.59);
    }
  }
}

.table {
  border: 1px solid #969696;
  border-radius: 12px;
  border-collapse: collapse;

  .head {
    th {
      width: 300px;
      text-align: start;
      border: 1px solid #969696;
      padding: 8px;


    }
  }

  .body {

    td {
      border: 1px solid #969696;
      text-align: left;

      a {
        display: block;
        padding: 8px;
        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}
