@import "src/styles/index";


.filter_panel {
  margin-bottom: 20px;

  .form_container {
    max-width: 200px;
    @include form-container;

    .form_field {
      @include form-field;

      &:focus {
        @include form-field-focus;
      }
    }

    .form_label {
      @include form-label;
    }
  }

  .reset_btn {
    height: 33px;
    width: 130px;
    margin-top: 12px;
    border: none;
    border-radius: 17px;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(150, 3, 3, 0.59);
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      box-shadow: 3px 3px 10px rgba(150, 3, 3, 0.59);
    }
  }
}