@mixin form-container {
  position: relative;
  padding: 15.5px 0 0;

  &.name {max-width: 600px}
  &.role {max-width: 400px}
  &.phone, &.birthday {max-width: 450px}
}

@mixin form-field {
  outline: 0;
  width: 100%;
  padding: 8.5px;

  font-size: 15.5px;
  color: rgba(255, 255, 255, 0.87);

  background: transparent;
  border: 2px solid #969696;
  border-radius: 6px;

  transition: all 0.2s;

  option {
    background-color: #242424;
  }

  &::placeholder {
    font-size: 0;
  }

  &:placeholder-shown ~ .form_label {
    top: 42%;
    font-size: 15.5px;
    color: #969696;
    cursor: text;
  }
}

@mixin form-label {
  display: block;
  position: absolute;
  top: 5px;
  left: 14px;

  font-size: 13px;
  color: #969696;

  background-color: #242424;

  transition: 0.2s;
}

@mixin form-field-focus {
  ~ .form_label {
    color: rgba(255, 255, 255, 0.87);
    transition: 0.2s;
  }

  border-color: rgba(255, 255, 255, 0.87);
}

@mixin action-button-style($bg-color) {
  height: 33px;
  width: 130px;
  margin-top: 12px;

  font-size: 15px;
  color: rgba(255, 255, 255, 0.87);

  border: none;
  border-radius: 17px;
  background-color: $bg-color;

  transition: all 0.4s;

  &:hover {
    box-shadow: 0 0 15px $bg-color;
  }
}
