@import "src/styles/index";


.table_wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.11);

  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: $font-m-adaptive;

    .head {
      > tr > th {
        width: 300px;
        text-align: start;
        padding: 8px;
        border: 1px solid $secondary-color;
      }
    }

    .body {
      > tr > td {
        text-align: left;
        border: 1px solid $secondary-color;

        > a {
          display: block;
          padding: 8px;
          color: $main-color;
        }
      }
    }
  }
}


